:root {
    --custom-dark-mode: #1a1a1a; 
    --custom-blue-testy: #3498db;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: auto;
}
/* Flexbox to Center Everything */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    align-items: center;     
    min-height: 100vh;            
    text-align: center;   
    background-color: var(--custom-dark-mode);
    color:white;   
    position: relative;
    overflow-x: auto;
    text-align: left;
}
.top-right-image {
    width: 30%; /* Adjust size */
    height: auto; /* Maintain aspect ratio */
}
.ben-nino{
    font-weight: 600;
    font-family:  'Dancing Script', cursive;
    font-size: 25px;
}
.header-container{
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: black;
}
.dark-mode *{
    background-color: var(--custom-dark-mode);
    color:white;   
}
.white-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    align-items: center;     
    min-height: 100vh;            
    text-align: center;   
    background-color: white;  
}


.display-files-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 20px;
}
.display-files-row{
    display: flex;
    flex-direction: row;
}


.grid-container {
    display: grid;

}

.form-container {
    margin: 0 auto;
    background: #fff;
    background-color: var(--custom-dark-mode);
    color:white;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 0;
    padding-bottom: 60px;
    max-width: 90%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
h1 {
    margin-bottom: 10px;
    margin-top: 10px;
}



.form-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
    padding: 10px;
}
.form-group {
    display: flex;
    flex-direction: column; 
    padding-left:0.5em;
}
.form-group-files {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px; /* Smaller gap value */
    align-items: center;
    /* justify-content: center;
    border: 2px solid #ccc; */
    border-radius: 5px;
}
.form-group-files > * {
    flex: 1; /* Ensures items grow and fill the available space */
    text-align: left; /* Optional: Centers content inside children */
}
.form-file-section{
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
    /* border: 2px solid #ddd;
    border-radius: 5px; */
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}

.grey-bg{
    background-color: #333333; 
}

/* .form-file-section > .form-group:nth-child(even) {
    background-color: #5c5b5b; 
} 
*/



.row-flex {
    display: flex;
    flex-direction: row-reverse; /* Arrange items horizontally */
    align-items: center; /* Vertically center items */
    justify-content: center; /* Horizontally center items */
    gap: 30px; /* Adds spacing between Yes and No */
}

.file-upload-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertically center items */
    justify-content: center; /* Horizontally center items */
    margin-top: 20px;

    /* border: 1px solid #ddd;
    border-radius: 5px; */
    /* background-color: var(--custom-dark-mode); */
}

.file-upload-section label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

input[type="file"] {
    display: flex;
    margin-top: 10px;
    max-width: 100%;
}

.file-list {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    font-size: 14px;
}

.file-list ul {
    list-style-type: none;
    padding-left: 0;
}

.file-list li {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-file {
    color: red;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
}



.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input,
.form-group select {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.form-group input[type="checkbox"],
.form-group input[type="radio"] {
    width: auto;
}
.form-group .checkbox-label {
    margin-left: 0px;
    font-weight: normal;
}
.form-group .required {
    color: red;
}
.form-group .optional {
    font-size: 14px;
    color: #666;
}
.form-group.full-width {
    grid-column: span 2;
}


.data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    width: 100%;
}


.ticket-listing-container{
    max-width: 100%;
    overflow-x: auto;
}

.ticket-listing-container .pagination {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #f1f1f1;
    width: 99%;
    border: 1px solid #292929;
    padding: 10px 0px;
    min-width: 300px;
}

.ticket-listing-container .pagination a {
    padding: 8px 8px;
    margin: 0 5px;
    text-decoration: none;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.ticket-listing-container .pagination a:hover {
    background-color: #ddd;
}

.ticket-listing-container .pagination span {
    padding: 8px 8px;
}


.ticket-table {
    width: 100%;
    /* margin: 20px auto; */
    border-collapse: collapse; /* Ensures no double borders */
    background-color: #fff;
}

.ticket-table th, .ticket-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #292929; /* Adds border between columns and rows */
}

.ticket-table th {
    background-color: #4CAF50;
    color: white;
}

.ticket-table tr:nth-child(even) {
    background-color: #cdcccc; /* Light gray for even rows */
}

.ticket-table tr:nth-child(odd) {
    background-color: #ffffff; /* White for odd rows */
}

.ticket-table tbody tr:hover {
    background-color: #b4cfe6; /* Hover effect for the hovered row */
}


.ticket-table td, .ticket-table th {
    border-right: 1px solid #292929; /* Adds vertical lines between cells */
}

/* Target the "Uploaded At" column with a specific class */
.ticket-table td.uploaded-at, .ticket-table th.uploaded-at {
    min-width: 150px; 
}

.ticket-table a:hover{
    color: #0056b3;
}
.ticket-table span {
    margin: 0 8px; /* Adds space to the left and right of the separator */
    font-weight: normal;
    color: #333;
}


.ticket-details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;  
    max-width: 1200px;
    margin: 20px;
}
.ticket-details-container .tickets-string-details{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1000px;
}
.tickets-string-details .info-container{
    flex:1;
    text-align: left;
    padding: 10px;
    width: 48%;
}




.tickets-string-details ul {
    list-style-type: none; /* Remove bullets */
    padding: 0px; 
    margin: 0px;
}
.tickets-string-details li {
    list-style-type: none; /* Remove default list styling */
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 10px;
    padding-left: 20px;
}



.tickets-string-details strong {
    font-weight: bold; /* Ensure strong text is bold */
}
.ticket-details-container .title-text{
    font-size: 30px;
    width: 100%;
    padding: 10px;
    font-weight: 600;
    margin-top: 20px;
    color: grey;
    border-top: 2px solid #9c9c9c; 
    border-bottom: 2px solid #9c9c9c; 
    align-self: flex-start;
}
.ticket-details-container .subtitle-text{
    font-size: 20px;
    font-weight: 600;
    color: grey;
}








button {
    margin-top: 10px;
    padding: 10px;
    background-color: #43b900;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #276c00;
}



.align-left{
    text-align: left;
}

#loading-indicator {
    /* display: none; */
    text-align: center;
    font-size: 1.2em;
}
.spinner {
    font-size: 2em;
    animation: spin 1s linear infinite; /* 1s for one full rotation, infinite repeats */

}
/* Keyframes for the spin animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media (max-width:767){
    
}

/*Container when not on phone*/
@media (min-width: 768px) {
    .form-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 80px;
        column-gap: 100px;
        padding: 20px;
    }
    .form-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding-bottom: 60px;
        background-color: var(--custom-dark-mode);
        color:white;   
        overflow-x: hidden;
    }
    .top-right-image {
        top: 10px; /* Adjust as needed */
        right: 10px; /* Adjust as needed */
        width: 15%; /* Adjust size */
        height: auto; /* Maintain aspect ratio */
        z-index: 10; /* Ensure it stays on top */
        position: absolute;
    }
    .ben-nino{
        display: none;
    }
    .ticket-listing-container{
        max-width: 1600px;
        overflow-x: auto;
        width: 100%;
    }
    .data-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: auto;
        max-width: 1600px;
    }
    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;  
        align-items: center;     
        min-height: 100vh;            
        text-align: center;   
        background-color: var(--custom-dark-mode);
        color:white;   
        position: relative;
        overflow-x: auto;
    }
    

}